.content-area {
    padding-bottom: 0;
    }
    section.page-section.with-sidebar {
    padding-bottom: 0;
    }
    .page-section {
    padding-top: 25px;
    padding-bottom: 25px;
    }
    .page-section {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    }
    .container {
    width: 1276px;
    }
    .row {
    margin-top: -30px;
    }
    .row {
    margin-right: -15px;
    margin-left: -15px;
    }
    .row aside[class*=col-], .row div[class*=col-] {
    margin-top: 30px;
    }
    .widget.shop-categories {
    border: solid 1px rgba(35,35,35,.1);
    background: #fff;
    }
    .widget.shop-categories .widget-content {
    border-top: solid 1px rgba(35,35,35,.1);
    padding: 10px 15px;
    }
    .widget-content.blog-sidebar {
    padding: 18px 25px !important;
    }
    .widget :last-child {
    margin-bottom: 0;
    }
    .thumbnail.blog_box {
    background: #fff;
    padding: 15px 10px;
    border: 1px solid #eee;
    transition: all .4s ease-in-out;
    width: 31%;
    float: left;
    margin-right: 18px;
    height: 497px;
    margin-bottom: 16px;
    }
    .thumbnail {
    margin: 0 auto;
    border-radius: 0;
    background-color: transparent;
    position: relative;
    }
    .products.list .pagination-wrapper {
    float: left;
    margin-bottom: 50px;
    width: 100%;
    }
    .pagination-wrapper {
    border-top: solid 1px #e9e9e9;
    margin: 30px 0;
    padding-top: 30px;
    line-height: 0;
    }
    .widget.widget-tabs {
    background: #fff;
    }
    .widget :last-child {
    margin-bottom: 0;
    }
    .widget.widget-tabs .nav-justified {
    border: solid 1px rgba(35,35,35,.1);
    }
    .nav-justified {
    width: 100%;
    }
    .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    }
    .nav-justified>li {
    float: none;
    }
    .nav>li {
    position: relative;
    display: block;
    }
    /* @media (min-width: 768px)
    .nav-justified>li {
    display: table-cell;
    width: 1%;
    } */
    .widget.widget-tabs .tab-content {
    overflow: hidden;
    border: 1px solid #e9e9e9;
    border-top: none;
    padding: 10px;
    }
    .widget :last-child {
    margin-bottom: 0;
    }
    .tab-content>.active {
    display: block;
    }
    .tab-content>.tab-pane {
    display: none;
    }
    .fade.in {
    opacity: 1;
    }
    .widget :last-child {
    margin-bottom: 0;
    }
    .product-list {
    max-width: 450px;
    margin: 0 auto;
    }
    .product-list .media {
    clear: both;
    float: left;
    position: relative;
    display: block;
    min-height: 100px;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    }
    .media:first-child {
    margin-top: 0;
    }
    .media, .media-body {
    overflow: hidden;
    zoom: 1;
    }
    .caption-title{
    font-size: 15px; 
    color: black; 
    font:bold;
    }
    a:hover {
    color: #00010d;
    text-decoration: underline;
    }
    a{
    color:#00010d;
    }
    img {
    vertical-align: middle;
    border-style: none;
    padding-top: 10px;
    }
    /* .col-md-4.col-sm-4.col-xs-1.card:hover {
    transform: scale(1.1);
    } */