<div class="main-content">
    <div class="content-wrapper">
        <div class="container-fluid">

            <div *ngIf="showUserTable && !addProduct">

                <div class="card gradient-aqua-marine d-block rounded box-shadow-2" data-bg-color="aqua-marine">
                    <div class="card-header">
                        <div class="card-title-wrap bar-warning">
                            <div>
                                <h4 class="card-title" style=" color:#fff; ">Products List</h4>
                            </div>
                        </div>
                    </div>
                </div>



                <section id="extended">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card ">

                                <div class="card-body ">
                                    <div class="card-block ">

                                        <div class="row ">
                                            <div class="col-3 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicInput "></label>
                                                    <input type="text " class="form-control pl-2 p-3 "
                                                        placeholder="Search by product name " id="basicInput ">
                                                </fieldset>
                                            </div>
                                            <div class="col-3 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicSelect "></label>
                                                    <select class="form-control height-50 " id="basicSelect ">
                                                        <option>Categories</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-3 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicSelect "></label>
                                                    <select class="form-control height-50 " id="basicSelect ">
                                                        <option>Price</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                        <option>Option 4</option>
                                                        <option>Option 5</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-3 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicSelect "></label>
                                                    <!-- <button type="btn " class="form-control height-50 bg-danger d-block rounded box-shadow-2 " style="color: #fff; " data-bs-toggle="modal " data-bs-target="#exampleModal "><i class="fa fa-plus " >&nbsp; Add Products</i></button> -->


                                                    <button (click)="showForm()" type="button"
                                                        class="form-control height-50 bg-danger d-block rounded box-shadow-2 "
                                                        data-toggle="modal " data-backdrop="false "
                                                        data-target="#primary " style="color: #fff; ">
                                                        <i class="fa fa-plus ">&nbsp; Add Products</i>
                                                    </button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section id="extended ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card ">

                                <div class="card-body ">
                                    <div class="card-block ">

                                        <div class="row ">
                                            <div class="col-8 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicInput "></label>
                                                    <input type="text " class="form-control pl-2 p-3 text-center "
                                                        placeholder="Drop CSV file " id="basicInput ">
                                                </fieldset>
                                            </div>
                                            <div class="col-2 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicSelect "></label>
                                                    <button type="btn "
                                                        class="form-control height-50 gradient-timber d-block rounded box-shadow-2 "
                                                        style="color: #fff; "><i class="fa fa-upload ">&nbsp; Add
                                                            Products</i></button>
                                                </fieldset>
                                            </div>

                                            <div class="col-2 ">
                                                <fieldset class="form-group ">
                                                    <label for="basicSelect "></label>
                                                    <button type="btn "
                                                        class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected "
                                                        style="color: #fff; "><i class="fa fa-download ">&nbsp;
                                                            Download</i></button>
                                                </fieldset>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>



                <!--Extended Table Ends-->
                <!--Shopping cart starts-->
                <!-- <div *ngIf="showUserTable && !addProduct"> -->
                <section id="shopping-cart ">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card ">
                                <!-- <div class="card-header ">
                                <div class="card-title-wrap bar-warning ">
                                    <h4 class="card-title ">Invoice Summary</h4>
                                </div>
                            </div> -->
                                <div class="card-body ">
                                    <div class="card-block ">
                                        <div class="table-responsive ">
                                            <table id="recent-orders " class="table table-hover table-xl mb-0 ">
                                                <thead>

                                                    <tr>
                                                        <th class="border-top-0 ">ID</th>
                                                        <th class="border-top-0 ">Product Image</th>
                                                        <th class="border-top-0 ">Product SKU</th>
                                                        <th class="border-top-0 ">Title</th>
                                                        <th class="border-top-0 ">Discrption</th>
                                                        <th class="border-top-0 ">Parent Category</th>
                                                        <th class="border-top-0 ">Child Category</th>
                                                        <th class="border-top-0 ">Unit</th>
                                                        <th class="border-top-0 ">Stock</th>
                                                        <th class="border-top-0 ">Price</th>
                                                        <th class="border-top-0 ">Tag</th>
                                                        <th class="border-top-0 ">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of ProductsData; let i=index">
                                                        <td>{{i+1}}</td>
                                                        <td><img [src]="data.image" width="90"></td>
                                                        <td>{{data.sku}}</td>
                                                        <td>{{data.title}}</td>
                                                        <td>{{data.details}}</td>


                                                        <td>{{data.parentcategory}}</td>
                                                        <td>{{data.childcategory}}</td>
                                                        <td>{{data.unit}}</td>
                                                        <td>{{data.stock}}</td>
                                                        <td>{{data.saleprice}}</td>
                                                        <td>{{data.tag}}</td>


                                                        <td>

                                                            <a (click)="onEdit(data)" class="btn btn-outline-success ">
                                                                <i class="fa fa-edit"></i>
                                                            </a> &nbsp;
                                                            <a (click)="deleteProducts(data)"
                                                                class="btn btn-outline-danger ">
                                                                <i class="fa fa-trash"></i>
                                                            </a>

                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!--Shopping cart ends-->






            <!-- ADD PRODUCT FORM-->


            <div *ngIf="addProduct && !showUserTable" class="main-content1">
                <div class="content-wrapper ">
                    <div class="container-fluid ">
                        <!-- Basic form layout section start -->
                        <section id="basic-form-layouts ">

                            <div class="card gradient-aqua-marine d-block rounded box-shadow-2 "
                                data-bg-color="aqua-marine ">
                                <div class="card-header">
                                    <div class="card-title-wrap bar-warning ">
                                        <h4 class="card-title" style="color:#fff; ">Add Products</h4>
                                        <p class="mb-0" style="color:rgb(224, 223, 223);">Add your product and necessary
                                            information from here</p>
                                    </div>
                                    <div class="d-flex ">
                                        <!-- <button (click)="showTable() " type="button " class="btn btn-success mx-3 ">Show Table</button> -->
                                        <button (click)="showTable() " *ngIf="addProduct " type="btn "
                                            class="form-control height-50 gradient-timber rounded box-shadow-2 "
                                            style="color: #fff; margin: -36px -7px -13px -49px; width:  107px;"> Show
                                            Table</button>
                                    </div>

                                </div>
                            </div>

                            <form class="form " [formGroup]="productForm">
                                <div class="row ">
                                    <div class="col-md-12">
                                        <div class="card ">

                                            <div class="card-body ">
                                                <div class="px-3 ">

                                                    <div class="form-body ">
                                                        <h4 class="form-section mt-3 ">
                                                            <i class="fa fa-shopping-bag"></i> Product Details
                                                        </h4>
                                                        <!-- <div class="row form-group ">
                                                            <fieldset class="form-group ml-3">

                                                                <label for="basicInputFile">Product Image:</label>
                                                                <img class="inline-flex  " [src]="url" style="width: 291px;                                                                ">
                                                                <br>
                                                                <input type="file" (change)="onselectFile($event)" id="file" style="width: 350px;" formControlName="image">
                                                                <span class="file-custom"></span>

                                                            </fieldset>
                                                        </div> -->

                                                        <div class="form-group col-md-10">
                                                            <label for="projectinput1 ">Product Image</label>
                                                            <input type="text " id="projectinput1 " class="form-control"
                                                                name="image" formControlName="image" value>
                                                        </div>


                                                        <div class="form-group col-md-10">
                                                            <label for="projectinput1 ">Product SKU</label>
                                                            <input type="text " id="projectinput1 " class="form-control"
                                                                name="fname" formControlName="sku" value>
                                                        </div>
                                                        <div class="form-group col-md-10">
                                                            <label for="projectinput1 ">Product Title/Name</label>
                                                            <input type="text " id="projectinput1 " class="form-control"
                                                                name="fname" formControlName="title" value>
                                                        </div>
                                                        <div class="form-group col-md-10">
                                                            <label for="projectinput1 ">Product Slug</label>
                                                            <input type="text " id="projectinput1 " class="form-control"
                                                                name="fname" formControlName="slug" value>
                                                        </div>

                                                        <div class="form-group row col-md-10">
                                                            <label class="col-md-3 label-control "
                                                                for="projectinput9 ">Product Description: </label>
                                                            <div class="col-md-9 ">
                                                                <textarea id="projectinput9 " rows="5 "
                                                                    class="form-control" name="comment"
                                                                    formControlName="details" value></textarea>
                                                            </div>
                                                        </div>




                                                        <div class="col-md-10 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect ">Parent Category</label>
                                                                <select class="form-control " id="basicSelect"
                                                                    formControlName="parentcategory" value>
                                                                    <option>Select Option</option>
                                                                    <option>WATER PURIFIER</option>
                                                                    <option>RO PLANT</option>
                                                                    <option>WATER SOFTNER</option>
                                                                    <option>VACUUM CLEANER</option>
                                                                    <option>WATER DISPENSER</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-10 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect ">Child Category</label>
                                                                <select class="form-control" id="basicSelect"
                                                                    formControlName="childcategory" value>
                                                                    <option>Select Option</option>
                                                                    <option>Option 1</option>
                                                                    <option>Option 2</option>
                                                                    <option>Option 3</option>
                                                                    <option>Option 4</option>
                                                                    <option>Option 5</option>
                                                                </select>
                                                            </fieldset>
                                                        </div>



                                                        <div class="col-md-10">
                                                            <label for="userinput5 ">Unit (kg/pc/lb/ml/g...etc)</label>
                                                            <input class="form-control border-primary " type="text "
                                                                id="userinput5 " formControlName="unit" value>
                                                        </div>

                                                        <div class="col-md-10 ">
                                                            <label for="userinput6 ">Product Quantity</label>
                                                            <input class="form-control border-primary " type="number "
                                                                id="userinput6" formControlName="stock" value>
                                                        </div>

                                                        <div class="col-md-10 ">
                                                            <label>Sale Price</label>
                                                            <input class="form-control border-primary " id="userinput7"
                                                                type="number" formControlName="saleprice" value>
                                                        </div>

                                                        <div class="col-md-10 ">
                                                            <label>Product Tag</label>
                                                            <input class="form-control border-primary " id="userinput7 "
                                                                type="text " formControlName="tag" value>
                                                        </div>

                                                    </div>
                                                    <div class="form-actions right ">
                                                        <button type="button " class="btn btn-danger mr-1 ">
                                                            <i class="icon-trash "></i> Cancel
                                                        </button>
                                                        <button type="submit " *ngIf="showAddbutton"
                                                            (click)="postProductsDetails()" class="btn btn-success ">
                                                            <i class="icon-note "></i> Save
                                                        </button>
                                                        <button type="submit " *ngIf="showUpdatebutton"
                                                            (click)="updateProductsDetails()" class="btn btn-success ">
                                                            <i class="icon-note "></i> Update
                                                        </button>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </form>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>