<div class="main-content">
    <div class="content-wrapper">
        <div class="container-fluid">


            <div class="card gradient-aqua-marine d-block rounded box-shadow-2" data-bg-color="aqua-marine">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <h4 class="card-title" style=" color:#fff; ">Orders</h4>
                    </div>
                </div>
            </div>

            <section id="extended ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="card ">

                            <div class="card-body ">
                                <div class="card-block ">

                                    <div class="row ">
                                        <div class="col-3 ">
                                            <fieldset class="form-group ">
                                                <label for="basicInput "></label>
                                                <input type="text " class="form-control pl-2 p-3 " placeholder="Search by phone" id="basicInput ">
                                            </fieldset>
                                        </div>
                                        <div class="col-3 ">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <select class="form-control height-50 " id="basicSelect ">
                                                  <option>Status</option>
                                                  <option>Delivered</option>
                                                  <option>Pending</option>
                                                  <option>Processing</option>
                                                  <option>Cancel</option>
                                               
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-3 ">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <select class="form-control height-50 " id="basicSelect ">
                                                  <option>Last 5 days orders</option>
                                                  <option>Last 7 days orders</option>
                                                  <option>Last 15 days orders</option>
                                                  <option>Last 30 days orders</option>
                                                 
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-3 ">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <!-- <button type="btn " class="form-control height-50 bg-danger d-block rounded box-shadow-2 " style="color: #fff; " data-bs-toggle="modal " data-bs-target="#exampleModal "><i class="fa fa-plus " >&nbsp; Add Products</i></button> -->


                                                <button type="button " class="form-control height-50 bg-danger d-block rounded box-shadow-2 " data-toggle="modal " data-backdrop="false " data-target="#primary " style="color: #fff; ">
                                                    
                                                    <i class="fa fa-download" >&nbsp; Download all orders</i>
                                                    </button>
                                            </fieldset>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




            <!--Extended Table Ends-->
            <!--Shopping cart starts-->
            <section id="shopping-cart ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="card ">
                            <!-- <div class="card-header ">
                                <div class="card-title-wrap bar-warning ">
                                    <h4 class="card-title ">Invoice Summary</h4>
                                </div>
                            </div> -->
                            <div class="card-body ">
                                <div class="card-block ">
                                    <div class="table-responsive ">
                                        <table id="recent-orders " class="table table-hover table-xl mb-0 ">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0 ">SR NO</th>
                                                    <th class="border-top-0 ">TIME</th>
                                                    <th class="border-top-0 ">SHOPPING ADDRESS</th>
                                                    <th class="border-top-0 ">PHONE</th>
                                                    <th class="border-top-0 ">METHOD</th>
                                                    <th class="border-top-0 ">AMOUNT</th>
                                                    <th class="border-top-0 ">STATUS</th>
                                                    <th class="border-top-0 ">ACTION</th>
                                                    <th class="border-top-0 ">INVOICE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-truncate "> 1</td>
                                                    <td class="text-truncate ">
                                                        Mar 28, 2022
                                                    </td>


                                                    <td class="text-truncate ">Nagrig, Egypt</td>

                                                    <td class="text-truncate ">01957930034</td>
                                                    <td class="text-truncate "><strong>card</strong></td>
                                                    <td class="text-truncate "><strong> $497.00	</strong></td>
                                                    <td class="text-truncate process">Processing</td>

                                                    <td>

                                                        <label for="basicSelect "></label>
                                                        <select class="form-control height-30" id="basicSelect ">
                                                              <option>Status</option>
                                                              <option>Delivered</option>
                                                              <option>Pending</option>
                                                              <option>Processing</option>
                                                              <option>Cancel</option>
                                                           
                                                            </select>

                                                    </td>
                                                    <td><i class="fa fa-eye" aria-hidden="true"></i>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td class="text-truncate "> 1</td>
                                                    <td class="text-truncate ">
                                                        Mar 28, 2022
                                                    </td>


                                                    <td class="text-truncate ">Nagrig, Egypt</td>

                                                    <td class="text-truncate ">01957930034</td>
                                                    <td class="text-truncate "><strong>card</strong></td>
                                                    <td class="text-truncate "><strong> $497.00	</strong></td>
                                                    <td class="text-truncate process">Processing</td>

                                                    <td>

                                                        <label for="basicSelect "></label>
                                                        <select class="form-control height-30" id="basicSelect ">
                                                              <option>Status</option>
                                                              <option>Delivered</option>
                                                              <option>Pending</option>
                                                              <option>Processing</option>
                                                              <option>Cancel</option>
                                                           
                                                            </select>

                                                    </td>
                                                    <td><i class="fa fa-eye" aria-hidden="true"></i>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td class="text-truncate "> 1</td>
                                                    <td class="text-truncate ">
                                                        Mar 28, 2022
                                                    </td>


                                                    <td class="text-truncate ">Nagrig, Egypt</td>

                                                    <td class="text-truncate ">01957930034</td>
                                                    <td class="text-truncate "><strong>card</strong></td>
                                                    <td class="text-truncate "><strong> $497.00	</strong></td>
                                                    <td class="text-truncate process">Processing</td>

                                                    <td>

                                                        <label for="basicSelect "></label>
                                                        <select class="form-control height-30" id="basicSelect ">
                                                              <option>Status</option>
                                                              <option>Delivered</option>
                                                              <option>Pending</option>
                                                              <option>Processing</option>
                                                              <option>Cancel</option>
                                                           
                                                            </select>

                                                    </td>
                                                    <td><i class="fa fa-eye" aria-hidden="true"></i>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td class="text-truncate "> 1</td>
                                                    <td class="text-truncate ">
                                                        Mar 28, 2022
                                                    </td>


                                                    <td class="text-truncate ">Nagrig, Egypt</td>

                                                    <td class="text-truncate ">01957930034</td>
                                                    <td class="text-truncate "><strong>card</strong></td>
                                                    <td class="text-truncate "><strong> $497.00	</strong></td>
                                                    <td class="text-truncate process">Processing</td>

                                                    <td>

                                                        <label for="basicSelect "></label>
                                                        <select class="form-control height-30" id="basicSelect ">
                                                              <option>Status</option>
                                                              <option>Delivered</option>
                                                              <option>Pending</option>
                                                              <option >Processing</option>
                                                              <option>Cancel</option>
                                                           
                                                            </select>

                                                    </td>
                                                    <td><i class="fa fa-eye" aria-hidden="true"></i>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td class="text-truncate "> 1</td>
                                                    <td class="text-truncate ">
                                                        Mar 28, 2022
                                                    </td>


                                                    <td class="text-truncate ">Nagrig, Egypt</td>

                                                    <td class="text-truncate ">01957930034</td>
                                                    <td class="text-truncate "><strong>card</strong></td>
                                                    <td class="text-truncate "><strong> $497.00	</strong></td>
                                                    <td class="text-truncate process">Processing</td>

                                                    <td>

                                                        <label for="basicSelect "></label>
                                                        <select class="form-control height-30" id="basicSelect ">
                                                              <option>Status</option>
                                                              <option>Delivered</option>
                                                              <option>Pending</option>
                                                              <option>Processing</option>
                                                              <option>Cancel</option>
                                                           
                                                            </select>

                                                    </td>
                                                    <td><i class="fa fa-eye" aria-hidden="true"></i>
                                                    </td>

                                                </tr>

                                                <tr>
                                                    <td class="text-truncate "> 1</td>
                                                    <td class="text-truncate ">
                                                        Mar 28, 2022
                                                    </td>


                                                    <td class="text-truncate ">Nagrig, Egypt</td>

                                                    <td class="text-truncate ">01957930034</td>
                                                    <td class="text-truncate "><strong>card</strong></td>
                                                    <td class="text-truncate "><strong> $497.00	</strong></td>
                                                    <td class="text-truncate process">Processing</td>

                                                    <td>

                                                        <label for="basicSelect "></label>
                                                        <select class="form-control height-30" id="basicSelect ">
                                                              <option>Status</option>
                                                              <option>Delivered</option>
                                                              <option>Pending</option>
                                                              <option>Processing</option>
                                                              <option>Cancel</option>
                                                           
                                                            </select>

                                                    </td>
                                                    <td><i class="fa fa-eye" aria-hidden="true"></i>
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Shopping cart ends-->
        </div>
    </div>
</div>