<div class="main-content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card gradient-aqua-marine d-block rounded box-shadow-2" data-bg-color="aqua-marine">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <div>
                            <h4 class="card-title" style=" color:#fff; margin: -9px 0 0 0px;"> <i class="fa fa-list"
                                    aria-hidden="true"></i> &nbsp; Categories List</h4>
                        </div>
                        <div class="d-flex" style="margin: -29px 0px -5px 868px;">
                            <!-- <button (click)="showTable()" type="button" class="btn btn-success mx-3">Show Table</button> -->
                            <button (click)="showTable()" *ngIf="addCategories" type="btn "
                                class="form-control height-50 gradient-timber d-block rounded box-shadow-2 "
                                style="color: #fff; width: 135px; padding: 0px 0px 0px 3px;"> Show Table</button>
                        </div>

                    </div>

                </div>
            </div>

            <section id="extended">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="card ">

                            <div class="card-body" style="background-color: rgb(195, 200, 204);">
                                <div class="card-block ">

                                    <div class="row ">
                                        <div class="col-4">
                                            <fieldset class="form-group ">
                                                <label for="basicInput "></label>
                                                <input type="text " class="form-control pl-2 p-3 "
                                                    placeholder="Search by product name " id="basicInput ">
                                            </fieldset>
                                        </div>
                                        <!-- <div class="col-3 ">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <select class="form-control height-50 " id="basicSelect ">
                                                  <option>Categories</option>
                                                  <option>Option 1</option>
                                                  <option>Option 2</option>
                                                  <option>Option 3</option>
                                                  <option>Option 4</option>
                                                  <option>Option 5</option>
                                                </select>
                                            </fieldset>
                                        </div> -->



                                        <div class="col-4">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <select class="form-control height-50 width: 343px;
                                                margin: 0px 0px 0px -16px;" id="basicSelect ">
                                                    <option>category</option>
                                                    <option>Option 1</option>
                                                    <option>Option 2</option>
                                                    <option>Option 3</option>
                                                    <option>Option 4</option>
                                                    <option>Option 5</option>
                                                </select>
                                            </fieldset>
                                        </div>

                                        <div class="col-4 ">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <!-- <button type="btn " class="form-control height-50 bg-danger d-block rounded box-shadow-2 " style="color: #fff; " data-bs-toggle="modal " data-bs-target="#exampleModal "><i class="fa fa-plus " >&nbsp; Add Products</i></button> -->


                                                <button (click)="showForm()" type="button"
                                                    class="form-control height-50 bg-purple d-block rounded box-shadow-2 "
                                                    data-toggle="modal " data-backdrop="false " data-target="#primary "
                                                    style="color: #fff; ">
                                                    <i class="fa fa-plus ">&nbsp; Add Categories</i>
                                                </button>
                                            </fieldset>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- //////////////////////////////////////////////// -->

            <div *ngIf="showCategoriesTable && !addCategories">
                <section id="shopping-cart">
                    <div class="row ">
                        <div class="col-sm-12 ">
                            <div class="card ">
                                <!-- <div class="card-header ">
                            <div class="card-title-wrap bar-warning ">
                                <h4 class="card-title ">Invoice Summary</h4>
                            
                        </div> -->
                                <div class="card-body ">
                                    <div class="card-block ">
                                        <div class="table-responsive ">
                                            <table id="recent-orders " class="table table-hover table-xl mb-0 ">
                                                <thead style="background-color: rgb(195, 200, 204);">
                                                    <tr>

                                                        <th class="border-top-0">ID</th>
                                                        <th class="border-top-0 ">CATEGORIES</th>
                                                        <th class="border-top-0 "> SUB CATEGORIES</th>

                                                        <!-- <th class="border-top-0 ">DATE</th>
                                                        <th class="border-top-0 ">STATUS</th> -->
                                                        <!-- <th class="border-top-0 ">Stock</th>
                                                    <th class="border-top-0 ">Published</th> -->
                                                        <th class="border-top-0 "> &nbsp; &nbsp; &nbsp; &nbsp; Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of CategoriesData; let i=index">
                                                        <td>{{i+1}}</td>
                                                        <td>{{data.Category}}</td>
                                                        <td>{{data.subcategories}}</td>

                                                        <!-- <td>{{data.publisheddate}}</td>
                                                        <td>{{data.visibilitystatus}}</td> -->


                                                        <td>
                                                            <!-- <a class="btn btn-outline-warning ">
                                                            <i class="fa fa-eye"></i>
                                                        </a> &nbsp; -->
                                                            <a (click)="onEdit(data)" class="btn btn-outline-success ">
                                                                <i class="fa fa-edit"></i>
                                                            </a> &nbsp;
                                                            <a (click)="deleteCategories(data)"
                                                                class="btn btn-outline-danger ">
                                                                <i class="fa fa-trash"></i>
                                                            </a>

                                                        </td>

                                                    </tr>




                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <!-- ///////////////////////////////// -->

        <div *ngIf="addCategories && !showCategoriesTable" class="main-content1">
            <div class="content-wrapper ">
                <div class="container-fluid ">

                    <section id="basic-form-layouts">

                        <div class="card gradient-aqua-marine d-block rounded box-shadow-2"
                            data-bg-color="aqua-marine ">
                            <div class="card-header">
                                <div class="card-title-wrap bar-warning ">
                                    <h4 class="card-title text-center" style="color:#fff; ">Add Categories</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-left:auto;margin-right:auto">
                            <div class="col-md-11">
                                <div class="card ">
                                    <div class="card-header ">
                                        <!-- <div class="card-title-wrap bar-success ">
                                                <h4 class="card-title " id="basic-layout-form ">Add your category</h4>
                                            </div> -->
                                        <!-- <p class="mb-0 ">Add your category and necessary information from here</p> -->
                                    </div>
                                    <div class="card-body ">
                                        <div class="px-3 ">
                                            <form class="form" [formGroup]="CategoriesForm">
                                                <div class="form-body ">
                                                    <h3 class="form-section ">
                                                        <i class="icon-list "></i> &nbsp; <b>Add Your Categories </b>
                                                    </h3>
                                                    <!-- <div class="row form-group ">

                                                            <label class="col-md-5c ml-3">category Image: </label>

                                                            <label id="projectinput8" class="file center-block col-md-6  margin-left: auto;"  >
                                                            <input type="file" id="file">
                                                            <span class="file-custom"></span>
                                                             </label>


                                                        </div> -->


                                                    <div class="col-md-10">
                                                        <fieldset class="form-group">
                                                            <label for="projectinput1 "><b>Add Categories :</b></label>
                                                            <input type="text " id="projectinput1 "
                                                                class="form-control " formControlName="Category"
                                                                name="Category ">
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <fieldset class="form-group">
                                                            <label for="projectinput1 "><b>Sub Categories :</b></label>
                                                            <input type="text " id="projectinput1 "
                                                                class="form-control " formControlName="subcategories"
                                                                name="subcategories ">
                                                        </fieldset>
                                                    </div>
                                                    <!-- <div class="form-group ">
                                                            <label for="projectinput1 ">Parent category :</label>
                                                            <input type="text " id="projectinput1 " placeholder="category title" class="form-control " name="fname ">
                                                        </div> -->

                                                    <!-- <div class="form-group ">
                                                        <label for="projectinput1 "> Published Date :</label>
                                                        <input type="date" formControlName="publisheddate" class="form-control">
                                                    </div> -->


                                                    <!-- <div class="form-group ">
                                                        <label for="projectinput1 "> Select Status:</label><br>
                                                        <mat-radio-group aria-label="Select an option" formControlName="visibilitystatus">
                                                            <mat-radio-button *ngFor="let status of allstatus" [value]="status">{{status}}</mat-radio-button>

                                                        </mat-radio-group>
                                                    </div> -->


                                                    <div class="form-actions right ">
                                                        <button type="button " class="btn btn-danger mr-1 ">
                                                            <i class="icon-trash "></i> CANCEL
                                                        </button>
                                                        <button *ngIf="showAddbutton" (click)="postCategoriesDetails()"
                                                            type="button " class="btn btn-success ">
                                                            <i class="icon-note "></i> Save
                                                        </button>
                                                        <button *ngIf="showUpdatebutton" type="button "
                                                            (click)="updateCategoriesDetails()"
                                                            class="btn btn-success ">
                                                            <i class="icon-note "></i> Update
                                                        </button>
                                                    </div>

                                                    <!-- <div class="form-group row">
                                                            <label class="col-md-3 label-control" for="projectinput9">Project Brief: </label>
                                                            <div class="col-md-9">
                                                                <textarea id="projectinput9" rows="5" class="form-control" name="comment"></textarea>
                                                            </div>
                                                        </div> -->

                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="col-md-6 ">
                                    <div class="card ">
                                        <div class="card-header ">
                                            <div class="card-title-wrap bar-warning ">
                                                
                                            </div>
                                           
                                        </div>
                                        <div class="card-body ">
                                            <div class="px-3 ">

                                                <form class="form ">
                                                    <div class="form-body ">
                                                        <h4 class="">
                                                            
                                                        </h4>
                                                        <div class="col-md-10">
                                                            <fieldset class="form-group">
                                                                <label for="basicSelect">Parent Category</label>
                                                                <select class="form-control" id="basicSelect">
                                                          <option>Select Option</option>
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                          <option>Option 5</option>
                                                        </select>
                                                            </fieldset>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <fieldset class="form-group">
                                                                <label for="basicSelect">Child Category</label>
                                                                <select class="form-control" id="basicSelect">
                                                          <option>Select Option</option>
                                                          <option>Option 1</option>
                                                          <option>Option 2</option>
                                                          <option>Option 3</option>
                                                          <option>Option 4</option>
                                                          <option>Option 5</option>
                                                        </select>
                                                            </fieldset>
                                                        </div>



                                                        <div class="form-group ">
                                                            <label for="userinput5 ">Unit (kg/pc/lb/ml/g...etc)</label>
                                                            <input class="form-control border-primary " type="text " id="userinput5 ">
                                                        </div>

                                                        <div class="form-group ">
                                                            <label for="userinput6 ">Product Quantity</label>
                                                            <input class="form-control border-primary " type="number " id="userinput6 ">
                                                        </div>

                                                        <div class="form-group ">
                                                            <label>Sale Price</label>
                                                            <input class="form-control border-primary " id="userinput7 " type="number">
                                                        </div>

                                                        <div class="form-group ">
                                                            <label for="userinput8 ">Company Address</label>
                                                            <textarea id="userinput8 " rows="5 " class="form-control border-primary " name="address "></textarea>
                                                        </div>

                                                    </div>

                                                    <div class="form-actions right ">
                                                        <button type="button " class="btn btn-danger mr-1 ">
                              <i class="icon-trash "></i> Cancel
                          </button>
                                                        <button type="button " class="btn btn-success ">
                              <i class="icon-note "></i> Save
                          </button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                        </div>
                    </section>
                    <!-- // Basic form layout section end -->
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>