<section class="shop login section" style="background-color: peachpuff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="login-form">
                    <h2>Login</h2>
                    <p>Please register in order to checkout more quickly</p>
                    <!-- Form -->
                    <form class="form" method="post" action="#">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label style="margin: -2px 0px 16px 32px;">Enter Email<span>*</span></label>
                                    <input type="email" name="email" placeholder="enter email address" required="required" style="background-color: rgb(255, 255, 255);">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label style="margin: -2px 0px 16px 32px;">Your Password<span>*</span></label>
                                    <input type="password" name="password" placeholder="enter password" required="required" style="background-color: rgb(255, 255, 255);">
                                    <div style="margin: 14px 0px -14px 0px;">
                                        <a href="#" class="lost-pass">Lost your password?</a></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login-btn" style="margin: 24px 9px 0px 194px; ">
                                    <button class="btn bg-dark" type="submit">Login</button>
                                    <button class="btn bg-dark" type="submit">Sign up</button>
                                    <div class="checkbox" style="margin: 13px -153px -24px -335px;">
                                        <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Remember me</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                    <!--/ End Form -->
                </div>
            </div>
        </div>
    </div>
</section>