<!-- Shop Login -->
<section class="shop login section" style="background-color: peachpuff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <div class="login-form">
                    <h2>Login</h2>
                    <p>Please register in order to checkout more quickly</p>
                    <!-- Form -->
                    <form class="form" method="post" action="#">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label style="margin: -2px 0px 16px 32px;">Enter Email<span>*</span></label>
                                    <input type="email" name="email" placeholder="enter email address" required="required" style="background-color: rgb(255, 255, 255);">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label style="margin: -2px 0px 16px 32px;">Your Password<span>*</span></label>
                                    <input type="password" name="password" placeholder="enter password" required="required" style="background-color: rgb(255, 255, 255);">
                                    <div style="margin: 14px 0px -14px 0px;">
                                        <a href="#" class="lost-pass">Lost your password?</a></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login-btn" style="margin: 24px 9px 0px 194px; ">
                                    <button class="btn bg-dark" type="submit">Login</button>
                                    <button routerLink="/main-dashboard/signup" class="btn bg-dark" type="submit">Sign up</button>
                                    <div class="checkbox" style="margin: 13px -153px -24px -335px;">
                                        <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">Remember me</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                    <!--/ End Form -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Login -->

<footer class="footer1">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">

                        <p class="text">RO Care India Is One Of The Trusted & Independent Water Purifier Service Provider In India. At RO Care India, We Offer A Complete Solution Such As RO Installation, RO Repair, Maintenance And AMC Service For Domestic, Commercial
                            & Industrial Water Purifier. We Deal In All Brands Of Water Purifier At A Relatively Low Price.RO Care India is a unit of 3D Logic Pvt. Ltd.</p>
                        <p class="call">Got Question? Call us 24/7<span><a  style="color: rgb(4, 253, 232);">
                            <i class="fa fa-phone" style="color:rgb(4, 253, 232);">&nbsp;</i>9156930753</a></span></p>
                        <p class="call">Got Question? E-Mail us 24/7<span><a  style="color:rgb(4, 253, 232);"><i class="fa fa-envelope"  style="color: rgb(4, 253, 232);">&nbsp;</i>avestantechnology@gmail.com</a></span></p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Categories</h4>
                        <ul>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>RO Plant</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water Softner</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water Dispenser</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water ATM</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water Ionizer</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water Cooler</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water Purifier </a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Useful links</h4>
                        <ul>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>RO service</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Buy Water Purifier</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>All Products</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>All Vendor</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a> Contact</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a> Store Locator</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a> Careers</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-footer social">
                        <h4>Get In Tuch</h4>

                        <div class="contact">
                            <ul>
                                <li>
                                    <strong>Head office</strong>
                                </li>
                                <li>Unit No. 1017-A to 1017-I 10th Floor, Gayatri Nagar, Amravati Road, Sector-48, Nagpur, Nagpur 440023 <br> <strong>Branch Office: </strong>Avestan Tower, Unit No. 719, 7th Floor, Near, Mewla Maharajpur, Sector 31, Faridabad,
                                    Haryana 121003 </li>
                                <li>+9156930753</li>
                            </ul>
                        </div>

                        <ul>
                            <li><a style="color: rgb(4, 253, 232);"><i class="ti-facebook"></i></a></li>
                            <li><a style="color: rgb(4, 253, 232);"><i class="ti-twitter"></i></a></li>
                            <li><a style="color:  rgb(4, 253, 232);"><i class="ti-flickr"></i></a></li>
                            <li><a style="color:  rgb(4, 253, 232);"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">




                    <div class="container">
                        <div class="content-index-area bottom-index-p">
                            <p>RO Care India is India's leading e-commerce and B2B &amp; B2C water purifier service marketplace. We are in this field for more than a decades, and currently, we are working with 5,500 business partner, and our services are
                                available in more than 1350 cities across the nation.</p>&nbsp;
                            <h6 style="color:  rgb(4, 253, 232);">Water Purifier :</h6>
                            <p>At RO Care India, we have listed a wide range of advance and latest technology-based water purifier so people across the nation can buy the best water purifier for their home. RO Care India also enables water purifier manufacturer
                                and distributor to list their product on our e-commerce platform.</p>
                            <h6 style="color:  rgb(4, 253, 232);">Water Softner :</h6>
                            <p>From Ion exchange to an electromagnetic water softener or from semi-automatic to automatic water softener, we offer you all kinds of the water softener. Moreover, our online e-commerce portal allows you to compare various kinds
                                and brands of water softener altogether so that you can shop the best water softener here.</p>
                            <h6 style="color: rgb(4, 253, 232);">RO Plant :</h6>
                            <p>We have listed a wide range of RO plant so you can shop would-class RO plant at RO Care India. Here at RO Care India online e-commerce portal, people across the nation can buy the best RO plant for domestic, commercial or industrial
                                purposes.
                            </p>
                            <h6 style="color: rgb(4, 253, 232);">Water ATM :</h6>
                            <p>A water ATM is a water vending machine that brings 100% contamination-free water 24*7. RO Care India's e-commerce online platform offers affordable and reliable water ATM installation, repair, and regular maintenance services
                                in PAN India.
                            </p>
                            <h6 style="color: rgb(4, 253, 232);">Spare Parts :</h6>
                            <p>It is spare parts quality that makes a water purification system durable and long-lasting. We are India's best-emerging water purification system spare parts wholesales suppliers of domestic, commercial and industrial RO plant.
                                Our spare parts are available in PAN India.</p>
                            <h6 style="color: rgb(4, 253, 232);">Water Ionizer :</h6>
                            <p>A water ionizer is an advantage purification system that maintains the pH of the water. At RO Care India, we have listed a wide range of water ionizers, thus allowing you to shop the best water ionizers online. At RO Care India
                                e-commerce platform, you can purchase all kinds and brands of water ionizer at a competitive price.</p>
                            <h6 style="color: rgb(4, 253, 232);">Water Purifier Service :</h6>
                            <p>RO Care India aims to provide water purification system solution to the people across PAN India. We offer installation, repair, maintenance service, and AMC services of all brands and kinds of water purification systems like
                                water purifier, water softener, and others.</p>
                            <h6 style="color: rgb(4, 253, 232);">Why Should You Choose RO Care India :</h6>
                            <p>Our service engineers, customer care executives, and the entire team are dedicated to customer satisfaction, thus offering world-class services at economical and affordable prices at the customer doorstep. RO Care India, customer
                                care department, remains open 24*7 to help peoples.</p>
                            <p>&nbsp;</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- /End Footer Area -->