.inline-flex {
    margin: 0px 288px;
    height: 150px;
}

.file {
    margin: 15px 0px 0px 436px;
    border-style: dashed;
    height: 80px;
    width: 550px;
    padding: 24px 0px 0px 192px;
    color: rgb(197, 194, 194);
}