<!-- Header -->
<header class="header shop">
    <!-- Topbar -->
    <div class="topbar" data-bg-color="aqua-marine" class="card gradient-aqua-marine d-block rounded box-shadow-2" style="margin: 0px;color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
                            <li><i class="ti-email"></i> support@shophub.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <li><i class="ti-location-pin"></i> Store location</li>
                            <li><i class="ti-alarm-clock"></i> <a>Daily deal</a></li>
                            <li><i class="ti-user"></i> <a routerLink="/main">My account</a></li>
                            <li><i class="ti-power-off"></i><a routerLink="/main-dashboard/login">Login</a></li>
                        </ul>
                    </div>
                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->
    <div class="middle-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-12">
                    <!-- Logo -->
                    <div class="logo">
                        <a><img src="assets/images/logo.png" alt="logo"></a>
                    </div>
                    <!--/ End Logo -->
                    <!-- Search Form -->
                    <div class="search-top">
                        <div class="top-search"><a><i class="ti-search"></i></a></div>
                        <!-- Search Form -->
                        <div class="search-top">
                            <form class="search-form">
                                <input type="text" placeholder="Search here..." name="search">
                                <button value="search" type="submit"><i class="ti-search"></i></button>
                            </form>
                        </div>
                        <!--/ End Search Form -->
                    </div>
                    <!--/ End Search Form -->
                    <div class="mobile-nav"></div>
                </div>
                <div class="col-lg-8 col-md-7 col-12">
                    <div class="search-bar-top">
                        <div class="search-bar">

                            <form>
                                <input name="search" placeholder="Search Products Here....." type="search">
                                <button class="btnn"><i class="ti-search"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="right-bar">
                        <!-- Search Form -->
                        <div class="sinlge-bar">
                            <a class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar">
                            <a class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                        </div>
                        <div class="sinlge-bar shopping">
                            <a routerLink="/main-dashboard/cartpage" class="single-icon"><i class="ti-bag"></i> <span class="total-count">{{totalItemNumber}}</span></a>
                            <!-- Shopping Item -->
                            <div class="shopping-item">
                                <div class="dropdown-cart-header">
                                    <span>2 Items</span>
                                    <a routerLink="/main-dashboard/cartpage">View Cart</a>
                                </div>


                            </div>
                            <!--/ End Shopping Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Inner -->
    <!-- cateriges delete  / class="header-inner"-->
    <!-- Header Inner -->
    <div class="header-inner" data-bg-color="aqua-marine" class="card gradient-aqua-marine d-block rounded box-shadow-2" style="margin: 0px;color: #fff;">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">

                    <div class="col-lg-9 col-12">
                        <div class="menu-area">
                            <!-- Main Menu -->
                            <nav class="navbar1 navbar-expand-lg">
                                <div class="navbar-collapse-main">
                                    <div class="nav-inner">
                                        <ul class="nav main-menu menu navbar-nav">
                                            <li><a href="#">Home<i ></i></a> </li>

                                            <li><a href="#">Products<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a href="shop-grid.html">Water purifier</a></li>
                                                    <li><a href="shop-list.html">Vaccum Cleaner</a></li>
                                                    <li><a href="shop-single.html">Water Ionizer</a></li>
                                                    <li><a href="cart.html">Air Purifier</a></li>
                                                    <li><a href="checkout.html">Water Tank</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Spare Parts<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown" style="width: 350%;">
                                                    <li><a>Water Purifier Spare Parts</a></li>

                                                </ul>
                                            </li>
                                            <li><a routerLink="/main-dashboard/allbrands">All Brands</a></li>
                                            <li><a>Blog<i class="ti-angle-down"></i></a>
                                                <ul class="dropdown">
                                                    <li><a>Water Purifier</a></li>
                                                    <li><a>Water Softner</a></li>
                                                    <li><a>Air Purifier</a></li>
                                                    <li><a>Hindi Blog</a></li>
                                                    <li><a>News</a></li>
                                                    <li><a>Health</a></li>
                                                </ul>
                                            </li>
                                            <li><a>Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!--/ End Main Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Header Inner -->

    <!--/ End Header Inner -->
</header>
<!--/ End Header -->

<!-- --------------------------------------------------------------------------------------------------- -->



<router-outlet></router-outlet>



<!-- --------------------------------------------------------------------------------------------------- -->

<!-- Start Shop Newsletter  -->

<!-- End Shop Newsletter -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close"
                        aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <!-- Product Slider -->
                        <div class="product-gallery">
                            <div class="quickview-slider-active">
                                <div class="single-slider">
                                    <img src="assets/images/modal1.png" alt="#">
                                </div>
                                <div class="single-slider">
                                    <img src="assets/images/modal2.png" alt="#">
                                </div>
                                <div class="single-slider">
                                    <img src="assets/images/modal3.png" alt="#">
                                </div>
                                <div class="single-slider">
                                    <img src="assets/images/modal4.png" alt="#">
                                </div>
                            </div>
                        </div>
                        <!-- End Product slider -->
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="quickview-content">
                            <h2>Flared Shift Dress</h2>
                            <div class="quickview-ratting-review">
                                <div class="quickview-ratting-wrap">
                                    <div class="quickview-ratting">
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="yellow fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <a> (1 customer review)</a>
                                </div>
                                <div class="quickview-stock">
                                    <span><i class="fa fa-check-circle-o"></i> in stock</span>
                                </div>
                            </div>
                            <h3>$29.00</h3>
                            <div class="quickview-peragraph">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
                            </div>
                            <div class="size">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <h5 class="title">Size</h5>
                                        <select>
                                            <option selected="selected">s</option>
                                            <option>m</option>
                                            <option>l</option>
                                            <option>xl</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <h5 class="title">Color</h5>
                                        <select>
                                            <option selected="selected">orange</option>
                                            <option>purple</option>
                                            <option>black</option>
                                            <option>pink</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="quantity">
                                <!-- Input Order -->
                                <div class="input-group">
                                    <div class="button minus">
                                        <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                                            <i class="ti-minus"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
                                    <div class="button plus">
                                        <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                                            <i class="ti-plus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!--/ End Input Order -->
                            </div>
                            <div class="add-to-cart">
                                <a class="btn">Add to cart</a>
                                <a class="btn min"><i class="ti-heart"></i></a>
                                <a class="btn min"><i class="fa fa-compress"></i></a>
                            </div>
                            <div class="default-social">
                                <h4 class="share-now">Share:</h4>
                                <ul>
                                    <li><a class="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="youtube"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a class="dribbble"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Start Footer Area -->
<footer class="footer1">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">

                        <p class="text">RO Care India Is One Of The Trusted & Independent Water Purifier Service Provider In India. At RO Care India, We Offer A Complete Solution Such As RO Installation, RO Repair, Maintenance And AMC Service For Domestic, Commercial
                            & Industrial Water Purifier. We Deal In All Brands Of Water Purifier At A Relatively Low Price.RO Care India is a unit of 3D Logic Pvt. Ltd.</p>
                        <p class="call">Got Question? Call us 24/7<span><a style="color: rgb(4, 253, 232);">
                                    <i class="fa fa-phone"
                                        style="color:rgb(4, 253, 232);">&nbsp;</i>9156930753</a></span></p>
                        <p class="call">Got Question? E-Mail us 24/7<span><a style="color:rgb(4, 253, 232);"><i
                                        class="fa fa-envelope"
                                        style="color: rgb(4, 253, 232);">&nbsp;</i>avestantechnology@gmail.com</a></span>
                        </p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Categories</h4>
                        <ul>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>RO Plant</a>
                            </li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water
                                    Softner</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water
                                    Dispenser</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water ATM</a>
                            </li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water
                                    Ionizer</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water
                                    Cooler</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Water Purifier
                                </a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Useful links</h4>
                        <ul>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>RO service</a>
                            </li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>Buy Water
                                    Purifier</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>All
                                    Products</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a>All Vendor</a>
                            </li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a> Contact</a>
                            </li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a> Store
                                    Locator</a></li>
                            <li class="fa fa-chevron-circle-right" style="color: azure;">&nbsp; &nbsp;<a> Careers</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-footer social">
                        <h4>Get In Tuch</h4>

                        <div class="contact">
                            <ul>
                                <li>
                                    <strong>Head office</strong>
                                </li>
                                <li>Unit No. 1017-A to 1017-I 10th Floor, Gayatri Nagar, Amravati Road, Sector-48, Nagpur, Nagpur 440023 <br> <strong>Branch Office: </strong>Avestan Tower, Unit No. 719, 7th Floor, Near, Mewla Maharajpur, Sector 31, Faridabad,
                                    Haryana 121003 </li>
                                <li>+9156930753</li>
                            </ul>
                        </div>

                        <ul>
                            <li><a style="color: rgb(4, 253, 232);"><i class="ti-facebook"></i></a></li>
                            <li><a style="color: rgb(4, 253, 232);"><i class="ti-twitter"></i></a></li>
                            <li><a style="color:  rgb(4, 253, 232);"><i class="ti-flickr"></i></a></li>
                            <li><a style="color:  rgb(4, 253, 232);"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">




                    <div class="container">
                        <div class="content-index-area bottom-index-p">
                            <p style="color:#888484;">RO Care India is India's leading e-commerce and B2B &amp; B2C water purifier service marketplace. We are in this field for more than a decades, and currently, we are working with 5,500 business partner, and our services are
                                available in more than 1350 cities across the nation.</p>&nbsp;
                            <h6 style="color:rgb(2 26 255);    font-size: 18px;">Water Purifier :</h6>
                            <p style="color:#888484;">At RO Care India, we have listed a wide range of advance and latest technology-based water purifier so people across the nation can buy the best water purifier for their home. RO Care India also enables water purifier manufacturer
                                and distributor to list their product on our e-commerce platform.</p>
                            <h6 style="color:  rgb(2 26 255);    font-size: 18px;">Water Softner :</h6>
                            <p style="color:#888484;">From Ion exchange to an electromagnetic water softener or from semi-automatic to automatic water softener, we offer you all kinds of the water softener. Moreover, our online e-commerce portal allows you to compare various kinds
                                and brands of water softener altogether so that you can shop the best water softener here.
                            </p>
                            <h6 style="color: rgb(2 26 255);    font-size: 18px;">RO Plant :</h6>
                            <p style="color:#888484;">We have listed a wide range of RO plant so you can shop would-class RO plant at RO Care India. Here at RO Care India online e-commerce portal, people across the nation can buy the best RO plant for domestic, commercial or industrial
                                purposes.
                            </p>
                            <h6 style="color: rgb(2 26 255);    font-size: 18px;">Water ATM :</h6>
                            <p style="color:#888484;">A water ATM is a water vending machine that brings 100% contamination-free water 24*7. RO Care India's e-commerce online platform offers affordable and reliable water ATM installation, repair, and regular maintenance services
                                in PAN India.
                            </p>
                            <h6 style="color: rgb(2 26 255);    font-size: 18px;">Spare Parts :</h6>
                            <p style="color:#888484;">It is spare parts quality that makes a water purification system durable and long-lasting. We are India's best-emerging water purification system spare parts wholesales suppliers of domestic, commercial and industrial RO plant.
                                Our spare parts are available in PAN India.</p>
                            <h6 style="color: rgb(2 26 255);    font-size: 18px;">Water Ionizer :</h6>
                            <p style="color:#888484;">A water ionizer is an advantage purification system that maintains the pH of the water. At RO Care India, we have listed a wide range of water ionizers, thus allowing you to shop the best water ionizers online. At RO Care India
                                e-commerce platform, you can purchase all kinds and brands of water ionizer at a competitive price.</p>
                            <h6 style="color: rgb(2 26 255);    font-size: 18px;">Water Purifier Service :</h6>
                            <p style="color:#888484;">RO Care India aims to provide water purification system solution to the people across PAN India. We offer installation, repair, maintenance service, and AMC services of all brands and kinds of water purification systems like
                                water purifier, water softener, and others.</p>
                            <h6 style="color: rgb(2 26 255);    font-size: 18px;">Why Should You Choose RO Care India :</h6>
                            <p style="color:#888484;">Our service engineers, customer care executives, and the entire team are dedicated to customer satisfaction, thus offering world-class services at economical and affordable prices at the customer doorstep. RO Care India, customer
                                care department, remains open 24*7 to help peoples.</p>
                            <p>&nbsp;</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>