<div class="main-content">
    <div class="content-wrapper">
        <div class="container-fluid">
            <div class="card gradient-aqua-marine d-block rounded box-shadow-2" data-bg-color="aqua-marine">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <h4 class="card-title" style=" color:#fff; "><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;Coupons</h4>
                    </div>

                </div>
            </div>
            <nav>
                <div class="container-fluid">
                    <form class="d-flex">
                        <input class="form-control me-2" style="width: 300px; padding-left: 450px;" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;<button class="btn btn-outline-success" type="submit">Search</button>&nbsp;&nbsp;&nbsp;

                    </form>
                </div>
            </nav>


            <section id="shopping-cart ">
                <div class="0w ">
                    <div class="col-sm-12 ">
                        <div class="card ">
                            <!-- <div class="card-header ">
                                <div class="card-title-wrap bar-warning ">
                                    <h4 class="card-title ">Invoice Summary</h4>
                                </div>
                            </div> -->
                            <div class="card-body ">
                                <div class="card-block ">
                                    <div class="table-responsive ">
                                        <table id="recent-orders " class="table table-hover table-xl mb-0 ">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0 ">Coupons code</th>
                                                    <th class="border-top-0 ">Type</th>
                                                    <th class="border-top-0 ">Discount</th>
                                                    <th class="border-top-0 ">Start date</th>
                                                    <th class="border-top-0 ">End date</th>
                                                    <th class="border-top-0 ">Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <b><td class="text-truncate"><i class="fa fa-gift" aria-hidden="true"></i>                                                        #lc-855855</td></b>
                                                    <td class="text-truncate ">
                                                        Fix Amount
                                                    </td>
                                                    <td>
                                                        <a>80%</a>
                                                    </td>

                                                    <td>
                                                        <a>2/2/1085</a>
                                                    </td>


                                                    <td>
                                                        <a>4/5/1053</a>
                                                    </td>
                                                    <td><span class="badge bg-success" style="color: #fff;">In Active</span></td>
                                                </tr>
                                                <tr>
                                                    <b> <td class="text-truncate"><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #uk-823551</td></b>
                                                    <td class="text-truncate ">
                                                        Percentage
                                                    </td>
                                                    <td>
                                                        <a>10%</a>
                                                    </td>

                                                    <td>
                                                        <a>5/2/1058</a>
                                                    </td>


                                                    <td> <a>9/5/1053</a>
                                                    </td>
                                                    <td><span class="badge bg-danger" style="color: #fff;">In Progress</span></td>


                                                </tr>
                                                <tr>
                                                    <b> <td class="text-truncate "><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #oi-277541</td></b>
                                                    <td class="text-truncate ">
                                                        Fix Amount
                                                    </td>
                                                    <td>
                                                        <a>40%</a>
                                                    </td>

                                                    <td>
                                                        <a>9/5/1053</a>
                                                    </td>



                                                    <td>
                                                        <a>5/2/1058</a>

                                                    </td>
                                                    <td><span class="badge bg-success" style="color: #fff;"><i class="fa fa-gift" aria-hidden="true"></i>
                                                        In Active</span></td>

                                                </tr>
                                                <tr>
                                                    <b><td class="text-truncate "><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #hc-856451</td></b>
                                                    <td class="text-truncate ">
                                                        Percentage
                                                    </td>
                                                    <td>
                                                        <a>80%</a>
                                                    </td>

                                                    <td>
                                                        <a>3/2/1073</a>
                                                    </td>




                                                    <td>
                                                        <a>6/2/1085</a>


                                                    </td>
                                                    <td><span class="badge bg-danger" style="color: #fff;">In Progress</span></td>

                                                </tr>
                                                <tr>
                                                    <b> <td class="text-truncate "><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #kc-554121</td></b>
                                                    <td class="text-truncate ">
                                                        Fix Amount
                                                    </td>
                                                    <td>
                                                        <a>50%</a>
                                                    </td>

                                                    <td>
                                                        <a>6/2/1085</a>
                                                    </td>





                                                    <td>
                                                        <a>3/2/1073</a>
                                                    </td>
                                                    <td><span class="badge bg-success" style="color: #fff;">In Active</span></td>
                                                </tr>
                                                <tr>
                                                    <b> <td class="text-truncate"><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #uk-823551</td></b>
                                                    <td class="text-truncate ">
                                                        Percentage
                                                    </td>
                                                    <td>
                                                        <a>10%</a>
                                                    </td>
                                                    <td>
                                                        <a>5/2/1058</a>
                                                    </td>
                                                    <td> <a>9/5/1053</a>
                                                    </td>
                                                    <td><span class="badge bg-danger" style="color: #fff;">In Progress</span></td>


                                                </tr>
                                                <tr>
                                                    <b><td class="text-truncate"><i class="fa fa-gift" aria-hidden="true"></i>                                                        #lc-855855</td></b>
                                                    <td class="text-truncate ">
                                                        Fix Amount
                                                    </td>
                                                    <td>
                                                        <a>80%</a>
                                                    </td>
                                                    <td>
                                                        <a>2/2/1085</a>
                                                    </td>
                                                    <td>
                                                        <a>4/5/1053</a>
                                                    </td>
                                                    <td><span class="badge bg-success" style="color: #fff;">In Active</span></td>
                                                </tr>

                                                <tr>
                                                    <b> <td class="text-truncate"><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #uk-823551</td></b>
                                                    <td class="text-truncate ">
                                                        Percentage
                                                    </td>
                                                    <td>
                                                        <a>10%</a>
                                                    </td>

                                                    <td>
                                                        <a>5/2/1058</a>
                                                    </td>
                                                    <td> <a>9/5/1053</a>
                                                    </td>
                                                    <td><span class="badge bg-danger" style="color: #fff;">In Progress</span></td>

                                                </tr>
                                                <tr>
                                                    <b> <td class="text-truncate "><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #oi-277541</td></b>
                                                    <td class="text-truncate ">
                                                        Fix Amount
                                                    </td>
                                                    <td>
                                                        <a>40%</a>
                                                    </td>
                                                    <td>
                                                        <a>9/5/1053</a>
                                                    </td>
                                                    <td>
                                                        <a>5/2/1058</a>

                                                    </td>
                                                    <td><span class="badge bg-success" style="color: #fff;"><i class="fa fa-gift" aria-hidden="true"></i>
                                                        In Active</span></td>

                                                </tr>
                                                <tr>
                                                    <b><td class="text-truncate "><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #hc-856451</td></b>
                                                    <td class="text-truncate ">
                                                        Percentage
                                                    </td>
                                                    <td>
                                                        <a>80%</a>
                                                    </td>

                                                    <td>
                                                        <a>3/2/1073</a>
                                                    </td>
                                                    <td>
                                                        <a>6/2/1085</a>
                                                    </td>
                                                    <td><span class="badge bg-danger" style="color: #fff;">In Progress</span></td>

                                                </tr>
                                                <tr>
                                                    <b> <td class="text-truncate "><i class="fa fa-gift" aria-hidden="true"></i>
                                                        #kc-554121</td></b>
                                                    <td class="text-truncate ">
                                                        Fix Amount
                                                    </td>
                                                    <td>
                                                        <a>50%</a>
                                                    </td>

                                                    <td>
                                                        <a>6/2/1085</a>
                                                    </td>
                                                    <td>
                                                        <a>3/2/1073</a>
                                                    </td>
                                                    <td><span class="badge bg-success" style="color: #fff;">In Active</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>





        </div>
    </div>
</div>