<div class="main-content">
    <div class="content-wrapper">
        <div class="container-fluid">


            <div class="card gradient-aqua-marine d-block rounded box-shadow-2" data-bg-color="aqua-marine">
                <div class="card-header">
                    <div class="card-title-wrap bar-warning">
                        <div>
                            <h4 class="card-title" style=" color:#fff; "><i class="fa fa-group"></i>&nbsp;All staff</h4>
                        </div>
                    </div>
                </div>
            </div>
            <section id="extended ">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="card ">

                            <div class="card-body " style="background-color: rgb(217, 219, 223);">
                                <div class="card-block ">

                                    <div class="row ">
                                        <div class="col-6">
                                            <fieldset class="form-group ">
                                                <label for="basicInput "></label>
                                                <input type="text " class="form-control pl-2 p-3 " placeholder="Search by Name/email/phone " id="basicInput ">
                                            </fieldset>
                                        </div>
                                        <div class="col-6">
                                            <fieldset class="form-group ">
                                                <label for="basicSelect "></label>
                                                <select class="form-control height-50 " id="basicSelect ">
                                                  <option>Staff Roll</option>
                                                  <option>Admin</option>
                                                  <option>Accountant</option>
                                                  <option>CEO </option>
                                                  <option>Manager </option>                                                
                                                </select>
                                            </fieldset>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="shopping-cart ">
                <div class="row ">
                    <div class="col-sm-12 ">
                        <div class="card ">
                            <!-- <div class="card-header ">
                            <div class="card-title-wrap bar-warning ">
                                <h4 class="card-title ">Invoice Summary</h4>
                            </div>
                        </div> -->
                            <div class="card-body " style="background-color: rgb(255, 255, 255);">
                                <div class="card-block ">
                                    <div class="table-responsive ">
                                        <table id="recent-orders " class="table table-hover table-xl mb-0 ">
                                            <thead>
                                                <tr>
                                                    <th class="border-top-0 ">ID</th>
                                                    <th class="border-top-0 ">Name</th>
                                                    <th class="border-top-0 ">E-Mail</th>
                                                    <th class="border-top-0 ">Contact</th>
                                                    <th class="border-top-0 ">Joining Date</th>
                                                    <th class="border-top-0 ">Role</th>
                                                    <th class="border-top-0 ">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <b><td>#5842</td></b>
                                                    <td class="text-truncate ">

                                                        Alice B. Porter
                                                    </td>
                                                    <td>
                                                        admin@gmail.com
                                                    </td>

                                                    <td class="text-truncate ">39594582</td>

                                                    <td class="text-truncate "> Dec 15, 2021</td>
                                                    <td>
                                                        <b>
                                                        Admin
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>

                                                </tr>
                                                <tr>
                                                    <b><td>#8654</td></b>
                                                    <td class="text-truncate ">
                                                        Marion V. Parker
                                                    </td>
                                                    <td>
                                                        martin@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">1544562</td>

                                                    <td class="text-truncate "> jan 23, 2021</td>

                                                    <td>
                                                        <b>
                                                        Accountant
                                                    </b>
                                                    </td>
                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <b><td>#8542</td></b>
                                                    <td class="text-truncate ">
                                                        Stacey J. Meikle
                                                    </td>
                                                    <td>
                                                        stackey@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">15656382</td>

                                                    <td class="text-truncate "> Nov 25, 2021</td>

                                                    <td>
                                                        <b>
                                                        Manager
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <b><td>#1442</td></b>
                                                    <td class="text-truncate ">
                                                        Shawn E. Palmer

                                                    </td>
                                                    <td>
                                                        shawn@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">55286382</td>

                                                    <td class="text-truncate "> feb 22, 2021</td>

                                                    <td>
                                                        <b>
                                                        CEO
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <b><td>#8542</td></b>
                                                    <td class="text-truncate ">
                                                        Stacey J. Meikle
                                                    </td>
                                                    <td>
                                                        stackey@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">15656382</td>

                                                    <td class="text-truncate "> Nov 25, 2021</td>

                                                    <td>
                                                        <b>
                                                        Manager
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>



                                                <tr>
                                                    <b><td>#2354</td></b>
                                                    <td class="text-truncate ">
                                                        Corrie H. Cates

                                                    </td>
                                                    <td>
                                                        corrier@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">9456382</td>

                                                    <td class="text-truncate "> march 31, 2021</td>

                                                    <td>
                                                        <b>
                                                        Admin
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <b><td>#8654</td></b>
                                                    <td class="text-truncate ">
                                                        Marion V. Parker
                                                    </td>
                                                    <td>
                                                        martin@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">1544562</td>

                                                    <td class="text-truncate "> jan 23, 2021</td>

                                                    <td>
                                                        <b>
                                                        Accountant
                                                    </b>
                                                    </td>
                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <b><td>#8542</td></b>
                                                    <td class="text-truncate ">
                                                        Stacey J. Meikle
                                                    </td>
                                                    <td>
                                                        stackey@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">15656382</td>

                                                    <td class="text-truncate "> Nov 25, 2021</td>

                                                    <td>
                                                        <b>
                                                        Manager
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>



                                                <tr>
                                                    <b><td>#2354</td></b>
                                                    <td class="text-truncate ">
                                                        Corrie H. Cates

                                                    </td>
                                                    <td>
                                                        corrier@gmail.com
                                                    </td>


                                                    <td class="text-truncate ">9456382</td>

                                                    <td class="text-truncate "> march 31, 2021</td>

                                                    <td>
                                                        <b>
                                                        Admin
                                                    </b>
                                                    </td>

                                                    <td>

                                                        <div class="col-12">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-crystal-clear d-block rounded box-shadow-2 selected " style="color: #fff; width: 45px; margin: -25px 0px -34px -28px;"> <i class="fa fa-edit "></i></button>
                                                            </fieldset>
                                                        </div>&nbsp;&nbsp;
                                                        <div class="col-2 ">
                                                            <fieldset class="form-group ">
                                                                <label for="basicSelect "></label>
                                                                <button type="btn " class="form-control height-50 gradient-timber d-block rounded box-shadow-2 " style="color: #fff;width: 45px; margin:-66px 0px -9px 28px "><i class="fa fa-trash "></i></button>
                                                            </fieldset>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>